.graph-modal {
  background-color: rgba(98, 105, 112, 0.5);

  &__container {
    border-radius: 0;
  }
}

.popup {
  position: relative;
  width: 764px;
  min-height: 737px;
  background-color: var(--white-color);

  @include small-tablet {
    width: 500px;
  }

  @include mobile {
    width: 300px;
    min-height: 679px;
  }

  &__close {
    position: absolute;
    top: -16px;
    right: -19px;
    width: 38px;
    height: 38px;
    background-color: var(--blue-color);
    border-radius: 100px;
  }

  &__line {
    position: absolute;
    top: 14px;
    left: 11px;
    display: inline-block;
    height: 1px;
    width: 24px;
    border-bottom: 1px solid var(--white-color);

    &:first-child {
      transform: rotate(135deg) translateX(6px);
    }

    &:last-child {
      top: 18px;
      left: 8px;
      transform: rotate(-135deg) translateX(0);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 49px 90px;

    @include small-tablet {
      padding: 20px 50px;
    }

    @include mobile {
      padding: 20px 20px;
    }
  }

  &__heading {
    margin: 0;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
    color: var(--blue-color);
    text-transform: uppercase;

    & span {
      color: var(--orange-color);
    }

    @include mobile {
      margin-bottom: 20px;
      font-size: 25px;
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    color: var(--blue-color);
    text-align: center;

    @include mobile {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__form {
    width: 100%;
  }

  &__input {
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--white-color);
    border: 1px solid #c4c6c9;
    border-radius: 10px;

    &::placeholder {
      color: var(--blue-color);
    }

    &--text {
      height: 231px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__btn {
    width: 100%;
  }
}
