.works {
  padding-top: 94px;
  padding-bottom: 95px;
  background-color: var(--white-color);

  @include mobile {
    padding-top: 70px;
  }

  &__title {
    margin: 0;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-color);

    & span {
      color: var(--orange-color);
    }
  }

  &__paragraph {
    margin: 0;
    margin: 0 auto;
    margin-bottom: 98px;
    width: 40%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--blue-color);
    text-align: center;

    @include small-tablet {
      width: 70%;
      text-align: center;
    }

    @include mobile {
      margin-bottom: 60px;
      width: 100%;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 117px;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }

  &__img {
    width: 100%;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
  }

  &__btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 213px;
    text-align: center;
    cursor: pointer;
  }
}
