<div class="first">
  <header class="header">
    <div class="container header__container">
      <div class="header__content">
        <a href="#" class="header__logo">
          <img src="img/logo.png" alt="logo">
        </a>
        <span class="header__text">Menu</span>
        <button class="btn-reset burger" aria-label="Open menu" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
    <nav class="header__nav" data-menu>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close>
        <span class="burger-close__line"></span>
        <span class="burger-close__line"></span>
      </button>
      <ul class="list-reset header__list">
        <li class="header__item"><a href="#" class="header__link" data-menu-item>HOME</a></li>
        <li class="header__item"><a href="#hero" class="header__link" data-menu-item>ABOUT US</a></li>
        <li class="header__item"><a href="#services" class="header__link" data-menu-item>SERVICES</a></li>
        <li class="header__item"><a href="#works" class="header__link" data-menu-item>OUR WORKS</a></li>
        <li class="header__item"><a href="#form" class="header__link" data-menu-item>CONTACT</a></li>
      </ul>
      <ul class="list-reset header__social social">
        <li class="social__item"><a href="#" class="social__link social__link--fb"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--tw"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--google"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--soc4"></a></li>
        <li class="social__item"><a href="#" class="social__link social__link--soc5"></a></li>
      </ul>
    </nav>
  </header>
  <section class="hero" id="hero">
    <div class="container hero__container">
      <h1 class="hero__title">We design <span>things</span></h1>
      <p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      <div class="hero__btns">
        <button class="btn btn--transparrent btn-reset hero__btn" data-graph-path="modal">HIRE US</button>
        <a href="#works" class="btn--transparrent hero__btn hero__btn--link">OUR WORKS</a>
      </div>
      <a href="#form" class="btn-reset hero__btn--bottom"></a>
    </div>
  </section>
</div>
