<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close popup__close" aria-label="Close the modal">
      <span class="popup__line"></span>
      <span class="popup__line"></span>
    </button>
    <div class="graph-modal__content popup__content">
      <h2 class="popup__heading">Hire <span>us</span></h2>
      <p class="popup__paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <form action="#" class="popup__form">
        <label class="popup__label">
          <input type="email" name="Email" class="input-reset popup__input" placeholder="Your Email" required>
        </label>
        <label class="popup__label">
          <input type="text" name="Subject" class="input-reset popup__input" placeholder="Subject" required>
        </label>
        <label class="popup__label popup__label--text">
          <textarea name="message" class="input-reset popup__input popup__input--text" placeholder="Your message" required></textarea>
        </label>
        <button class="btn-reset btn--orange popup__btn">send message</button>
      </form>
    </div>
  </div>
</div>
