<section class="works" id="works">
  <div class="container works__container">
    <h2 class="works__title">Our <span>works</span></h2>
    <p class="works__paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    <div class="works__grid">
      <div class="works__item">
        <a href="#" class="works__link">
          <picture>
            <source srcset="img/work-1.avif" type="image/avif">
            <source srcset="img/work-1.webp" type="image/webp">
            <img loading="lazy" src="img/work-1.jpg" class="works__img" alt="our work">
          </picture>
        </a>
        <div class="works__block hidden">
          <h3 class="hidden__title">Abazoo website</h3>
          <p class="hidden__paragraph">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          <a href="#works" class="btn btn--transparrent hidden__btn">Show Project</a>
        </div>
      </div>
      <div class="works__item">
        <a href="#" class="works__link">
        <picture>
          <source srcset="img/work-2.avif" type="image/avif">
          <source srcset="img/work-2.webp" type="image/webp">
          <img loading="lazy" src="img/work-2.jpg" class="works__img" alt="our work">
        </picture>
        </a>
        <div class="works__block hidden">
          <h3 class="hidden__title">Abazoo website</h3>
          <p class="hidden__paragraph">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          <a href="#works" class="btn btn--transparrent hidden__btn">Show Project</a>
        </div>
      </div>

      <div class="works__item">
        <a href="#" class="works__link">
          <picture>
            <source srcset="img/work-3.avif" type="image/avif">
            <source srcset="img/work-3.webp" type="image/webp">
            <img loading="lazy" src="img/work-3.jpg" class="works__img" alt="our work">
          </picture>
        </a>
        <div class="works__block hidden">
          <h3 class="hidden__title">Abazoo website</h3>
          <p class="hidden__paragraph">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          <a href="#works" class="btn btn--transparrent hidden__btn">Show Project</a>
        </div>
      </div>
      <div class="works__item">
        <a href="#" class="works__link">
          <picture>
            <source srcset="img/work-4.avif" type="image/avif">
            <source srcset="img/work-4.webp" type="image/webp">
            <img loading="lazy" src="img/work-4.jpg" class="works__img" alt="our work">
          </picture>
        </a>
        <div class="works__block hidden">
          <h3 class="hidden__title">Abazoo website</h3>
          <p class="hidden__paragraph">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          <a href="#works" class="btn btn--transparrent hidden__btn">Show Project</a>
        </div>
      </div>
      <div class="works__item">
        <a href="#" class="works__link">
          <picture>
            <source srcset="img/work-5.avif" type="image/avif">
            <source srcset="img/work-5.webp" type="image/webp">
            <img loading="lazy" src="img/work-5.jpg" class="works__img" alt="our work">
          </picture>
        </a>
        <div class="works__block hidden">
          <h3 class="hidden__title">Abazoo website</h3>
          <p class="hidden__paragraph">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          <a href="#works" class="btn btn--transparrent hidden__btn">Show Project</a>
        </div>
      </div>
      <div class="works__item">
        <a href="#" class="works__link">
          <picture>
            <source srcset="img/work-6.avif" type="image/avif">
            <source srcset="img/work-6.webp" type="image/webp">
            <img loading="lazy" src="img/work-6.jpg" class="works__img" alt="our work">
          </picture>
        </a>
        <div class="works__block hidden">
          <h3 class="hidden__title">Abazoo website</h3>
          <p class="hidden__paragraph">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          <a href="#works" class="btn btn--transparrent hidden__btn">Show Project</a>
        </div>
      </div>
    </div>
    <a href="#" class="btn--transparrent btn--grey works__btn" tabindex="0">show more</a>
  </div>
</section>
